body {
  background-color: #424242;
  color: #fcf4d9;
  font-family: "Fauna One", "serif";
}

p {
  padding-top: 2rem;
}

h1, h2, h3, h4, h5, h6, a {
  color: #ffe28a;
  font-family: "Cinzel", "serif";
}

b, strong {
  color: #ffe28a;
  font-family: "Fauna One", "serif";
}

a {
  text-decoration: none;
}

header {
  background-color: #272727;
  color: #ffe28a;
  padding: 20px;
  box-shadow: 0 3px 8px rgba(29, 29, 29, 0.8431372549);
}

center {
  text-align: center;
  border-top: 2px solid rgb(122, 122, 122);
  margin-top: 10px;
  padding-top: 5px;
}

blockquote {
  border-left: 8px solid #f55b1d;
  margin-left: 0;
  padding: 5px;
  font-style: italic;
}

.burger div {
  background-color: #ffe28a;
}

/*
---
Heroes, Characters, Places Grids
---
*/
.grid-container {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  justify-content: center;
}

.grid-item {
  background-color: #272727;
  flex: 0 0 calc(25% - 20px);
  display: flex;
  flex-flow: column nowrap;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(29, 29, 29, 0.8431372549);
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.grid-item:hover {
  transform: translateY(-5px);
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.grid-item h3 {
  margin-top: auto;
}

/* 
--- 
Modal 
---
*/
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  overflow: hidden;
}

.modal-content {
  background-color: #383838;
  margin: 15vh auto;
  padding: 20px;
  border-radius: 5px;
  max-width: 700px;
  max-height: 70%;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
  position: relative;
  box-shadow: 5px 5px 10px rgba(29, 29, 29, 0.8431372549);
}

.modal-content text {
  max-height: 100%;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
}

.modal-text {
  padding: 20px;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 30px;
  font-weight: bold;
  color: #ffe28a;
  cursor: pointer;
}

/*
---
Timeline
---
*/
.timeline-container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0;
}

.timeline-line {
  position: absolute;
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  background-color: #fcf4d9;
  transform: translateX(-50%);
}

.timeline-items {
  position: relative;
}

.timeline-item {
  position: relative;
  width: 50%;
  padding: 20px;
  opacity: 0;
  transition: opacity 0.75s ease, transform 0.75s ease, translate 0.3s ease;
}

.timeline-item:hover {
  translate: 0px -5px;
}

.timeline-item:nth-child(odd) {
  left: 0;
  transform: translateX(-300px);
  text-align: right;
}

.timeline-item:nth-child(even) {
  left: 50%;
  transform: translateX(300px);
  text-align: left;
}

.timeline-item.show {
  opacity: 1;
  transform: translateX(0);
}

.timeline-item img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.timeline-item h3 {
  font-size: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

@media screen and (max-width: 48rem) {
  .timeline-item img {
    display: none;
  }
}
/*
---
Global Styles
---
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.modal-active {
  overflow: hidden;
}

/* 
---
Header and navigation
---
*/
.cut-off {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  font-size: 1.5rem;
}
.nav-links li {
  padding-left: 40px;
  transition: translate 0.3s ease;
}
.nav-links li:hover {
  translate: 0px -5px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  transition: all 0.3s ease;
}

/* 
--- 
Main Section and Title 
---
*/
main {
  padding: 40px;
  min-height: 100vh;
}

section {
  margin-bottom: 60px;
}

section.hidden {
  display: none;
}

section.active {
  display: block;
}

section.active h2 {
  text-align: center;
  margin-bottom: 20px;
}

.hero-image {
  width: 100%;
  height: 400px;
  box-shadow: 5px 5px 10px rgba(29, 29, 29, 0.8431372549);
  background-color: #ddd;
  background-image: url("/images/banner.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.intro-text {
  width: 100%;
  text-align: left;
  display: flex;
  flex-flow: column;
  align-items: center;
  transition: 0.25s all ease;
}
.intro-text h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: solid 3px rgba(29, 29, 29, 0.8431372549);
  border-radius: 3px;
}
.intro-text p {
  max-width: 50rem;
}

/*
---
Sharn Inquisitor
---
*/
.newspaper-container {
  background-color: #272727;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.headline {
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
  padding-left: 3px;
  border-left: solid 3px #ffe28a;
  border-radius: 3px;
  cursor: pointer;
  transition: translate 0.3s ease;
}

.headline:hover {
  translate: 0px -5px;
}

/* 
--- 
Footer 
---
*/
footer {
  background-color: #272727;
  color: #fcf4d9;
  padding: 10px;
  text-align: center;
  position: sticky;
  bottom: 0;
}
footer p {
  padding-top: 0;
}

/* 
--- 
Media queries
---
*/
@media screen and (max-width: 82.5rem) {
  .intro-text {
    padding: 0 5%;
  }
  .grid-item {
    flex: 0 0 calc(50% - 20px);
  }
  nav {
    position: relative;
  }
  .nav-links {
    overflow: hidden;
  }
  .burger {
    display: block;
  }
  .nav-active {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 20px;
    margin-right: 15px;
    width: 100%;
    background-color: #383838;
    color: #fcf4d9;
    box-shadow: 8px 8px 12px black;
    z-index: 99;
    position: absolute;
    top: calc(100% + 20px);
    animation: slide-in 0.5s forwards;
  }
  .nav-inactive {
    animation: slide-out 0.5s forwards;
    display: none;
  }
  .nav-active li {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 48rem) {
  .intro-text {
    padding: 0;
  }
  .grid-item {
    flex: 0 0 100%;
  }
}
@keyframes slide-in {
  from {
    transform: translateY(-100%);
    clip-path: inset(100% 0 0 0);
  }
  to {
    transform: translateY(0);
    clip-path: inset(0 0 0 0);
  }
}
@keyframes slide-out {
  from {
    transform: translateY(0);
    clip-path: inset(0 0 0 0);
  }
  to {
    transform: translateY(-100%);
    clip-path: inset(100% 0 0 0);
  }
}/*# sourceMappingURL=styles.css.map */