/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: 'Cinzel', serif;
  background-color: #f5f5f5;
  color: #333;
}

body.modal-active {
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fauna One', serif;
}

a {
  text-decoration: none;
  color: #333;
}

/* Header and navigation */
header {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px;
  transition: all 0.3s ease;
}

/* Main sections */
main {
  padding: 40px;
}

section {
  margin-bottom: 60px;
}

section.hidden {
  display: none;
}

section.active{
  display: block;
}

section.active h2 {
  text-align: center;
  margin-bottom: 20px;
}

.hero-image {
  width: 100%;
  height: 400px;
  background-color: #ddd;
  background-image: url('/images/overview-banner.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.intro-text {
  text-align: center;
  margin-top: 40px;
}

.grid-container {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  justify-content: center;
}

.grid-item {
  background-color: #fff;
  flex: 0 0 calc(25% - 20px);
  display: flex;
  flex-flow: column nowrap;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.grid-item:hover {
  transform: translateY(-5px);
}

.grid-item img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.grid-item h3 {
  margin-top: auto;
}

.newspaper-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.headline {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  cursor: pointer;
}

.timeline-container {
  position: relative;
  max-height: 600px;
  overflow-y: scroll;
  padding-right: 20px;
}

.timeline-item {
  position: relative;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.timeline-item.show {
  opacity: 1;
  transform: translateY(0);
}

.timeline-item img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: sticky;
  bottom: 0;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  background-color: #fff;
  margin: 15vh auto;
  padding: 20px;
  border-radius: 5px;
  max-width: 700px;
  max-height: 70%;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
  position: relative;
}

.modal-content text {
  max-height: 100%;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 30px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

/* Media queries */
@media screen and (max-width: 1024px) {
  .grid-item {
    flex: 0 0 calc(50% - 20px);
  }
}
@media screen and (max-width: 768px) {
  .nav-links {
      display: none;
  }
  .grid-item {
    flex: 0 0 100%;
  }

  .burger {
      display: block;
  }

  .nav-active {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
  }

  .nav-active li {
      margin: 10px 0;
  }
}