// General colors
$white: #fcf4d9;
$strong-white: #ffe28a;
$light-blue: #8ed2c9; 
$blue: #00aaa0; 
$orange: #f55b1d;  
$red: #fb2e01;
$black: #09090f;
$black-heavy: #09090f99;
$black-medium: #09090f4d;
$black-light: #09090f1a;

// Specific colors
$major: $orange;
$article-text: $white;
$back-color: $black-heavy;
$link-hover: $black-medium;
$link: $black-light;
$bold-white: $strong-white;