@import 'variables';

// Reset & Global Styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $color-light-grey;
    color: $color-creme;
    font-family: $font-primary;
    line-height: 1.6;
    overflow-x: hidden; // Prevent horizontal scroll
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-secondary;
    color: $color-creme;
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1rem;
    padding-top: 2rem;
}

b, strong {
  color: $color-creme-strong;
}

a {
    color: $color-orange;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
        color: $color-white;
    }
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

blockquote {
  border-left: 8px solid $color-orange;
  margin-left: 0;
  padding: 5px;
  font-style: italic;
}

center {
  text-align: center;
  border-top: 2px solid rgb(122, 122, 122);
  margin-top: 10px;
  padding-top: 5px;
}