// Colors
$color-dark-grey: #272727;
$color-medium-grey: #383838;
$color-light-grey: #424242;
$color-orange: #f55b1d;
$color-creme: #fcf4d9;
$color-creme-strong: #ffe28a;
$color-white: #ffffff;

// Fonts
$font-primary: 'Fauna One', serif;
$font-secondary: 'Cinzel', serif;

// Breakpoints
$breakpoint-mobile: 1200px;
$breakpoint-tablet: 1200px;

// Z-Index
$z-index-nav: 1000;

// Shadow
$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);