// Colors
$background-soft: #424242;
$background-hard: #272727;
$background-medium: #383838;
$type-color: #fcf4d9;
$type-bold: #ffe28a;

// Fonts
$font-stack-main: 'Fauna One', 'serif';
$font-stack-strong: 'Cinzel', 'serif';

